@CHARSET "UTF-8";

.tenant-title {
   font-size: 18px;
   font-weight: bold;
}

.tenant-writer {
   font-size: 12px;
}

.button-group {
   position: fixed;
   bottom: 40px;
   right: 50px;
}

.complain_pagination {
   text-align: center;
}

.complain_radio {
   position: fixed;
   bottom: 40px;
   left: 50px;
}

.indicator {
   width: 50%;
}

.thumbnail {
  position: relative;
  height: 230px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	}