@CHARSET "UTF-8";

html {
  font-size: 82%;
}

.yaybar ul > li.yay-user-info > a, .yaybar ul > li.yay-user-info > .sp-cancel {
  height: 87.97px;
}

section {
  width: 100%;
  margin: 0 auto; 
}


.title {
  float: left;
    width: 100%;
    border: 1px solid #adadb0;
    background: #f6f5f5;
    color: #232323;
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
    padding: 10px;
}

.textWrap {
  float: left;
    width: 888px;
    padding: 45px 75px 55px 95px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
    font-size: 14px;
    word-break: break-all;
    line-height: 1.8em;
    font-size: 16px;
    letter-spacing: 1px;
    overflow: hidden;
}

.btn_group {
    float: left;
    width: 100%;
}

.sort_left {
    float: left;
}

.sort_right {
    float: right;
}


.ryu1 {
  text-align: center;
}

.ryu > li {
  float: left;
  margin: 0 20px;
}

ul {
  list-style: none;
}
