@CHARSET "UTF-8";

.navbar-top .hh-logo {
	width: auto;
	height: 100%;
	padding: 10px;
	padding-left: 10px;
}

.navbar-top .hh-logo>img {
	height: 90%;
	width: auto;
	vertical-align: top;
}

.page-title .hh-logo-black>img {
	height: 7%;
	width: 9%;
	margin: 10%
}