<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="objackie.dao.FreeBoardFileDao">
  <resultMap type="freeboardFile" id="freeboardFileMap">
    <id column="PHO_NO" property="no"/> 
    <result column="BOD_NO" property="boardNo"/>
    <result column="PHO_PATH" property="filename"/>
  </resultMap>
  
  <insert id="insert" parameterType="freeboardFile">
    insert into BOD_PHO (BOD_NO, PHO_PATH)
    values(#{boardNo}, #{filename})
  </insert>
  
  <select id="selectOne" resultMap="freeboardFileMap" parameterType="int">
    select BOD_NO, PHO_PATH
    from BOD_PHO    
    where BOD_NO= #{boardNo};
  </select>
  
  <update id="update" parameterType="freeboardFile">
    update BOD_PHO set
    PHO_PATH=#{filename}
    where BOD_NO=#{boardNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from bod_pho
    where BOD_NO=#{boardNo}
    </delete>
</mapper>


















